
## Pandas GroupBy Practice Solutions

In [2]:
# importing seaborn

import seaborn as sns

In [20]:
# loading dataset from seaborn (penguins)

penguins = sns.load_dataset('penguins')

`Question 1:` 
Write a program to find the average bill_length_mm for each type of penguin species in the dataset.

In [4]:
penguins.groupby('species')['bill_length_mm'].mean()

species
Adelie       38.791391
Chinstrap    48.833824
Gentoo       47.504878
Name: bill_length_mm, dtype: float64

`Question 2`
Write a program to determine the total number of penguins found on each island.

In [5]:
penguins.groupby('island').size()

island
Biscoe       168
Dream        124
Torgersen     52
dtype: int64

`Question 3`
Write a program to calculate the mean `flipper_length_mm` for each combination of species and gender.

In [6]:
penguins.groupby(['species', 'sex'])['flipper_length_mm'].mean()

species    sex
Adelie     Female    187.794521
           Male      192.410959
Chinstrap  Female    191.735294
           Male      199.911765
Gentoo     Female    212.706897
           Male      221.540984
Name: flipper_length_mm, dtype: float64

`Question 4`
Write a program to calculate the average and median `body_mass_g` for each penguin species on each island.

In [7]:
penguins.groupby(['species', 'island'])['body_mass_g'].agg(['mean', 'median'])

                            mean  median
species   island
Adelie    Biscoe     3709.659091  3750.0
          Dream      3688.392857  3575.0
          Torgersen  3706.372549  3700.0
Chinstrap Dream      3733.088235  3700.0
Gentoo    Biscoe     5076.016260  5000.0

`Question 5`
Write a program to identify the maximum `bill_depth_mm` for male and female penguins separately.

In [8]:
penguins.groupby('sex')['bill_depth_mm'].max()

sex
Female    20.7
Male      21.5
Name: bill_depth_mm, dtype: float64

`Question 6`
Write a program to count how many different islands each penguin species inhabits.

In [9]:
penguins.groupby('species')['island'].nunique()

species
Adelie       3
Chinstrap    1
Gentoo       1
Name: island, dtype: int64

`Question 7`
Write a program to calculate the range (difference between maximum and minimum) of `flipper_length_mm` and its standard deviation for each penguin species.

In [16]:
temp_df = penguins.groupby('species')['flipper_length_mm'].agg(['std','min','max'])
temp_df['range'] = temp_df['max'] - temp_df['min']
temp_df

                std    min    max  range
species
Adelie     6.539457  172.0  210.0   38.0
Chinstrap  7.131894  178.0  212.0   34.0
Gentoo     6.484976  203.0  231.0   28.0

`Question 8`
Write a program to create a new column that shows how each penguin's `body_mass_g` compares to the average `body_mass_g` of its species.

In [21]:
penguins['body_mass_normalized'] = penguins.groupby('species')['body_mass_g'].transform(lambda x: x / x.mean())
penguins[['species', 'body_mass_g', 'body_mass_normalized']].sample(5)

       species  body_mass_g  body_mass_normalized
239     Gentoo       5350.0              1.053976
184  Chinstrap       3350.0              0.897380
199  Chinstrap       4300.0              1.151861
149     Adelie       3750.0              1.013332
106     Adelie       3750.0              1.013332

`Question 9:`
Write a program to identify the top 3 species-island combinations based on the highest average flipper_length_mm.

In [23]:
penguins.groupby(['species', 'island'])['flipper_length_mm'].mean().sort_values(ascending=False).head(3)

species    island
Gentoo     Biscoe       217.186992
Chinstrap  Dream        195.823529
Adelie     Torgersen    191.196078
Name: flipper_length_mm, dtype: float64

`Question 10`
Write a program to compute the ratio of the mean `bill_length_mm` to the mean `bill_depth_mm` for each species in the dataset.

In [19]:
penguins.groupby('species').apply(lambda x: x['bill_length_mm'].mean() / x['bill_depth_mm'].mean())

C:\Users\anike\AppData\Local\Temp\ipykernel_8020\2349914234.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  penguins.groupby('species').apply(lambda x: x['bill_length_mm'].mean() / x['bill_depth_mm'].mean())

species
Adelie       2.114392
Chinstrap    2.651046
Gentoo       3.170773
dtype: float64