## RICR - Tuple Assignment 1 sol

Q1. Write a python program to create a tuple with elements 'apple', 'banana', 'cherry'. Print the first and last elements.

In [4]:
tpl = ('apple', 'banana', 'cherry')
print(tpl[0],',',tpl[-1])

apple , cherry

Q2. Write a python program which prints the second last element and check if 'blue' is in the given tuple.   
	t = ('red', 'green', 'blue', 'yellow')

In [13]:
t = ('red', 'green', 'blue', 'yellow')
print('blue' in t)

True

Q3. Write a python program in which slice the given tuple to get the elements from the second to the fourth position. Print the sliced tuple and its length.   
	tpl = ('a', 'b', 'c', 'd', 'e')

In [3]:
tpl = ('a', 'b', 'c', 'd', 'e')
new_tpl=tpl[1:4]
print(new_tpl)
print(len(new_tpl))

('b', 'c', 'd')
3

Q4. Write a python program to concatenate the given tuples. Print the result and then sort the tuple and print it.   
	t1 = ('a', 'b', 'c')   
	t2 = ('d', 'e', 'f')   
	Output: ('a', 'b', 'c', 'd', 'e', 'f')   
			('a', 'b', 'c', 'd', 'e', 'f')

In [4]:
t1 = ('a', 'b', 'c')
t2 = ('d', 'e', 'f')

new_tpl=t1+t2
print(new_tpl)

lst=list(new_tpl)
lst.sort()
new_tpl=tuple(lst)
print(new_tpl)

('a', 'b', 'c', 'd', 'e', 'f')
('a', 'b', 'c', 'd', 'e', 'f')

Q5. Write a program to count how many times 5 appears and find the index of the first occurrence of 3. Print both results.   
	t = (1, 2, 3, 4, 5, 5, 5, 6).

In [21]:
t = (1, 2, 3, 4, 5, 5, 5, 6)
print(t.count(5))
print(t.index(3))

3
2

Q6. Write a program to create a tuple with elements ('cat', 'dog', 'mouse', 'elephant'). Slice it to get the first two elements and print them and also print the after sorting the tuple.

In [2]:
tpl = ('cat', 'dog', 'mouse', 'elephant')
print(tpl[:2])
lst=list(tpl)
lst.sort()
tpl=tuple(lst)
print(tpl[:2])

('cat', 'dog')
('cat', 'dog')

Q7. Write a python program which prints the last element of given tuple and check if 'Hello' is in the tuple. Print the results.   
	tpl = ('python', 'java', 'c++', 'ruby')   
	Output: ‘ruby’   
			False

In [23]:
tpl = ('python', 'java', 'c++', 'ruby')
print(tpl[-1])
print('Hello' in tpl)

ruby
False

Q8. Write a python program to create a tuple with elements ('hello', 'world', 'python'). Print its length then add ‘3’ as int at the last of tuple and Print  
	Output: 3  
			[‘hello’,’world’,’python’,3]

In [24]:
tpl = ('hello', 'world', 'python')
print(len(tpl))
lst = list(tpl)
lst.append(3)
print(lst)

3
['hello', 'world', 'python', 3]

Q9. Write a python program which access first six elements of the given tuple, then count how many times 5 appears in the new tuple. Print both results.  
	t = (1, 2, 5, 5, 6, 3, 4, 5, 5, 5, 6)

In [5]:
t = (1, 2, 5, 5, 6, 3, 4, 5, 5, 5, 6)
new_t= (t[:6])
print(new_t)
print(new_t.count(5))

(1, 2, 5, 5, 6, 3)
2

Q10. Write a python program in which concatenate the given tuples and print the resulting tuple and the third element of generated tuple.   
	t1 = ('java', 'python')   
	t2 = ('c', 'ruby')

In [8]:
t1 = ('java', 'python')
t2 = ('c', 'ruby')
t3=t1+t2
print(t3)
print(t3[2])

('java', 'python', 'c', 'ruby')
c