# Solution

Q1. Write a function add_numbers(a, b) that takes two arguments      
and returns their sum

In [9]:
def add_numbers(a,b):
    return a+b
num1=int(input("Enter the value of a:"))
mum2=int(input("Enter the value of b:"))
add_numbers(num1,mum2)

15

Q2. Write a function is_even(n) that takes an integer and returns     
True if the number is even, otherwise False.

In [2]:
def even_number(num):
    if num%2==0:
        return True
    else:
        return False
a=int(input())
even_number(a)

False

Q3. Write a function factorial(n) that takes a non-negative integer and returns its factorial.

In [8]:
def factorial(x):
    ans=1
    if x<0:
        return -1
    else:
        for i in range(1,x+1):
            ans*=i
        return ans
x=int(input("Enter the value of x:"))    
factorial(x)

2

Q4. Write a function max_of_two(a, b) that takes two numbers and returns the larger of the two.

In [5]:
def max_of_two(num1,num2):
    if num1>num2:
        return num1
    else:
        return num2 
n1=int(input("Enter the value of a:"))
n2=int(input("Enter the value of b:"))
max_of_two(n1,n2)

55

Q5. Write a function celsius_to_fahrenheit(c) that takes a    
temperature in Celsius and returns the temperature in Fahrenheit.    
(Formula: F = C * 9/5 + 32)

In [7]:
def celsius_to_fahrenheit(c):
    F=c*(9/5)+32
    return F
c=int(input("Enter the temperature in celsius:"))
celsius_to_fahrenheit(c)

122.0

Q6. Write a function multiplication_table(n) that takes an integer and prints its multiplication table from 1 to 10

In [6]:
def table(num):
    for i in range(1,11):
        print(num,"x",i,"=",num*i)
a=int(input())
table(a)

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40