# Lambda Function

* Also known as anonimous function  it has no name 
* It has no return value it only return function 
* Not used for Code reusibility

## lambda arguments : expression

They can be assigned to a variable and then used

In [1]:
x=lambda n:n*n*n
print(type(x))
print(x(3))

<class 'function'>
27

They often used as an argument to others

In [1]:
print((lambda n:n*n*n)(3))

27

In [2]:
#Take 3 number as a input from the user and print average of three number

a=int(input('enter:'))
b=int(input('enter:'))
c=int(input('enter:'))
x=lambda x,y,z:(x+y+z)/3
print(type(x))
print(x(a,b,c))

enter:12
enter:12
enter:12
<class 'function'>
12.0

In [3]:
print((lambda x,y,z:(x+y+z)/3)(5,6,7))

6.0

In [ ]:
y=lambda x:x[0]=='a'
y("hello")

False

In [5]:
y=lambda x:x[0]=='a'
y("a hello")

True

In [ ]:
z=lambda x:x%5==0
y=lambda x : "Divisible" if x%5 ==0 else "Not Divisivble "
print(y(15))
print(y(13))

Divisible
Not Divisivble

# Higher Order Function
Heigher order Function is a function that can accept other functions as arguments or return them

In [11]:
#Write a function that will return the cube and square of given value
def cube(x):
    return x**3
def square(x):
    return x**2
def transform(fun,seq):
    lst1=[]
    for i in seq:
        lst1.append(fun(i))
    return lst1
lst=[1,2,3,4,5]
print(f'list of cubes :- {transform(cube,lst)}')
print(f'list of squares :- {transform(square,lst)}')

list of cubes :- [1, 8, 27, 64, 125]
list of squares :- [1, 4, 9, 16, 25]

In [12]:
# using lambda function
def transform(fun,seq):
    lst1=[]
    for i in seq:
        lst1.append(fun(i))
    return lst1
lst=[1,2,3,4,5]
print(f'list of cubes :- {transform(lambda x:x**3,lst)}')
print(f'list of squares :- {transform(lambda x:x**2,lst)}')

list of cubes :- [1, 8, 27, 64, 125]
list of squares :- [1, 4, 9, 16, 25]

In [13]:
#we can pass lambda function to our bulit-in sorted() function to sort dictionary as values
d={"Maths":89,"Hindi":78,"English":82,"Science":67,"SST":76}
d1=dict(sorted(d.items(),key = lambda kv:kv[1]))
print(d1)

{'Science': 67, 'SST': 76, 'Hindi': 78, 'English': 82, 'Maths': 89}

In [14]:
# Write a function that will count how many number are divisible by 3,5 and 7 in a list of integers
def return_fizz_buzz_cnt(lst):
    five_cnt=0
    three_cnt=0
    seven_cnt=0
    for i in lst :
        if i%7==0  :
            seven_cnt+=1
        if i%3==0:
            three_cnt+=1
        if i%5==0:
            five_cnt+=1
    return (five_cnt,three_cnt,seven_cnt)
lst=[3,5,7,12,15,30,21,1,21,56,65]
print(return_fizz_buzz_cnt(lst))

(4, 6, 4)

In [15]:
# above program using lambda function
def hof_cnt(fun,lst):
    result=0
    for i in lst:
        if fun(i):
            result+=1
    return result
lst=[3,5,7,12,15,30,21,1,21,56,65]
x=lambda X:X%3==0
y=lambda Y:Y%5==0
z=lambda Z:Z%7==0

print(hof_cnt(x,lst))
print(hof_cnt(y,lst))
print(hof_cnt(z,lst))

6
4
4

# Higher Order Function

## Map() , Filter , Reduce()

## map()

* map operation applies to a function to each element in the sequence like list , tuple , etc and return

### syntax :-  map(function , sequence)
return the map object then we can convert then using list(),tuple() etc. functions to our disered  sequence

In [21]:
# square the items of list
lst=[1,2,3,4,5,6]
x=list(map(lambda x:x**2,lst))

print(x)

[1, 4, 9, 16, 25, 36]

In [23]:
# Calculate the area of circles using the given list of radius 
lst=[1.25,3.22,4.68,10.95,23.55,12]
area=tuple(map(lambda r:3.14*r*r,lst))
print(area)

(4.90625, 32.556776000000006, 68.773536, 376.49385, 1741.4518500000001, 452.15999999999997)

In [40]:
# find the length of all the string in a list taken from the user
lst=eval(input('enter a list of string:'))
length=list(map(lambda y:len(y),lst))
print(length)

enter a list of string:['hello','coding','RICR']
[5, 6, 4]

In [39]:
#write a program to convert all the numerical value in a string of list into integer
lst=['33','15','10','5']
x=list(map(lambda y:int(y),lst))
print(x)

[33, 15, 10, 5]

In [41]:
# write a program to convert all the lowercase alphabats into uppercase alphabats 
lst=['hello','coding','ricr']
x=list(map(lambda x:x.upper(),lst))
print(x)

['HELLO', 'CODING', 'RICR']

## filter()

### syntax :- filter( function , sequence)
A filter operation applies to all the function to all the element of a sequence . A sequence of those element for which function returns true is returned

In [24]:
# make list of all the element greater than 4
lst=[2,4,5,7,2,3,9,1,12]
var=list(filter(lambda x: x>4,lst))
print(var)

[5, 7, 9, 12]

In [27]:
# make list of all element divisible by 5
lst=[12,14,15,10,11,25,45]
lst1=list(filter(lambda x : x%5==0,lst))
print(lst1)

[15, 10, 25, 45]

In [28]:
# select those strings which contain 'a'
tup=('mango','hello','RICR','Coding','table','math')
lst1=list(filter(lambda x : 'a' in x , tup))
print(lst1)

['mango', 'table', 'math']

In [36]:
# filter out the strings which have last letter 'A'
lst=['Ambani','adani','Tata','Bata']
n=list(filter(lambda y:y[-1]=='a',lst))
print(n)

['Tata', 'Bata']

## reduce()

A reduce operation perform a rolling computation to sequencial pair of values in a sequence and return the result

In [30]:
#return the sum of list
from functools import reduce
l=[2,3,4,5,6,7,8]
y=reduce(lambda x,y:x+y,l)
print(y)

35

In [31]:
#return the min value of a list
l=[2,3,4,5,6,7,8]
y=reduce(lambda x,y:x if x<y else y,l)
print(y)

2

In [32]:
#find the factorial of the given number from the user
n=int(input('enter a number:'))
z=reduce(lambda x,y:x*y,range(1,n+1))
print(z)

enter a number:5
120

In [33]:
# Return the product of a list
lst=[1,12,3,7,8,4,5,6]
z=reduce(lambda x,y:x*y,lst)
print(z)

241920