# list

A list in Python is an ordered collection of items that can store multipleÂ elements.

### features of list data structure

-> List is one of the Sequence Data structure

-> Lists are collection of items (Strings, integers or even other lists)

-> Lists are enclosed in [ ]

-> Each item in the list has an assigned index value.

-> Each item in a list is separated by a comma

-> Lists are mutable, which means they can be changed.

### CREATING LIST

In [ ]:
x=[2,3,4,6,'hii']
print(type(x))
y=''
#Creating empty list
emptyList = []
print(type(emptyList))

# list of strings
lst_str = ['one', 'two', 'three', 'four'] 
print(lst_str)
#list of integers
lst_int = [1, 2, 3, 4] 
print(lst_int)
 # list of lists
lst_list = [[1,3,5,6, 2], [3, 4]]
print(lst_list)

# list of mixed datatypes
lst_mixed = [1, 'ramu', True, 1.24] 
print(lst_mixed)

<class 'list'>
<class 'list'>
['one', 'two', 'three', 'four']
[1, 2, 3, 4]
[[1, 3, 5, 6, 2], [3, 4]]
[1, 'ramu', True, 1.24]

In [4]:
x=5
print(x)

5

### Accessing elements

Each item in the list has an assigned index value starting from 0.

Accessing elements in a list is called indexing.

In [ ]:
# Accessing List Elements
# indexing is used for accessing element of list
fruits=["apple","banana","cherry","kiwi","guava"]
print(fruits[1])
print(fruits[-4])

banana
banana

In [14]:
lst=[2,3,5,7,9,12,15]
print(lst[2])
print(lst[-2])

5
12

        POSITIVE INDEXING
        
   0  ,     1    ,    2   ,   3   ,   4  
   
["apple","banana","cherry","kiwi","gauva"]

  -5  ,     -4   ,   -3    , -2   , -1
  
        NEGATIVE INDEXING

In [8]:
fruits=["apple","banana","cherry","kiwi","guava"]
print(fruits[0])
print(fruits[2])
print(fruits[4])
print(fruits[-1])

apple
cherry
guava
guava

In [17]:
city = ['Bhopal' , 'Vidisha' , 'Gwalior']
print(city[-2])
print(city[1])
print(city[0])

Vidisha
Vidisha
Bhopal

## list slicing

Accessing parts of segments is called slicing.

The key point to remember is that the :end value represents the first value that is not in the selected slice.

The basic syntax for slicing a list is:

list[start:stop:step]

start: This is where you want the slice to begin. The item at this position is included in the slice.
stop: This is where you want the slice to end. The item at this position is not included in the slice.
step: This is the gap between each item in the slice. For example, a step of 2 means you take every second item.

In [ ]:
numbers = [10,20,30,40,50,60,70,80,34,56,98,12]
print(numbers[:])
print(numbers[0:4])
print(numbers[1:8:2])  
print(numbers[::-1])  
print(numbers[:5:3])
print(numbers[5::3])
print(numbers[::5])
print(numbers[:3:-3])
print(numbers[1:9:-2])
print(numbers[9:1:3])

[10, 20, 30, 40, 50, 60, 70, 80, 34, 56, 98, 12]
[10, 20, 30, 40]
[20, 40, 60, 80]
[12, 98, 56, 34, 80, 70, 60, 50, 40, 30, 20, 10]
[10, 40]
[60, 34, 12]
[10, 60, 98]
[12, 34, 60]
[]
[]

In [1]:
fruits=["apple","banana","cherry","kiwi","guava"]
print(fruits[::-1])

['guava', 'kiwi', 'cherry', 'banana', 'apple']

#  Update List

In [5]:
fruits=["apple","banana","cherry","kiwi","guava"]

method 1

In [9]:
fruits[3] = 'watermelon'
print(fruits)

['apple', 'banana', 'cherry', 'watermelon', 'guava']

method 2    (.append())

In [14]:
print(fruits)

['apple', 'banana', 'cherry', 'kiwi', 'guava']

In [15]:

fruits.append("orange") #Add an item to the end
print(fruits)

['apple', 'banana', 'cherry', 'kiwi', 'guava', 'orange']

method 3    (insert())

In [20]:
fruits=["apple","banana","cherry","kiwi","guava"]
fruits.insert(0,"watermelon") #add element at the given index
print(fruits)

['watermelon', 'apple', 'banana', 'cherry', 'kiwi', 'guava']

method 4 (extend())

In [11]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

# list1.extend(5) #iterable: Any iterable (list, tuple, set, etc.) whose elements will be added to the list.
list2.extend(list1)

print(list2)

[4, 5, 6, 1, 2, 3]

# deleting  elements from the list

method 1 - using del keyword

In [3]:
#using del keywords

lst = ['one', 'two', 'three', 'four']

# del lst[2]
# print(lst)
del lst
print(lst)

NameError: name 'lst' is not defined

method 2 - using pop() method

In [6]:
lst = ['one', 'two', 'three', 'four', 'five']
#we can delete element using pop from the given index , pop return the deleted element
a = lst.pop(3)
print(lst)
print(a)

['one', 'two', 'three', 'five']
four

method 3 - using remove() method

In [8]:
#remove the first occurence of given an item from list
lst=[1,3,5,7,1,1,19,11,3,5,'ji']
print(lst)
lst.remove(1)
print(lst)

[1, 3, 5, 7, 1, 1, 19, 11, 3, 5, 'ji']
[3, 5, 7, 1, 1, 19, 11, 3, 5, 'ji']

### List methods

count

In [31]:
#The count method in a list is used to count the number of times a specific element appears in the list
numbers = [1, 2, 2, 3, 4, 4, 4, 5]
print(numbers.count(4))

3

reverse

In [ ]:
#reverse is reverses the entire list

numbers = [1, 2, 2, 3, 4, 4, 4, 5]

# numbers.reverse()
numbers[::-1]
# print(a)
print(numbers)

[1, 2, 2, 3, 4, 4, 4, 5]

index

In [19]:
# To check the elemnt is present at which index but make sure the element is presnt in the list

lst = [2 , 5  ,'apple',2]
lst.index(2)

0

List Sorting

The easiest way to sort a List is with the sorted(list) function.

That takes a list and returns a new list with those elements in sorted order.

The original list is not changed.

The sorted() optional argument reverse=True, e.g. sorted(list, reverse=True), makes it sort backwards.

In [21]:
#create a list with numbers
numbers = [3, 1, 6, 2, 8 ,1 ,0]

s = sorted(numbers)

print("Sorted list :", s)

#original list remain unchanged
print("Original list: ", numbers)

Sorted list : [0, 1, 1, 2, 3, 6, 8]
Original list:  [3, 1, 6, 2, 8, 1, 0]

In [22]:
#print a list in reverse sorted order
print("Reverse sorted list :", sorted(numbers, reverse=True))

#orginal list remain unchanged
print("Original list :",  numbers)

Reverse sorted list : [8, 6, 3, 2, 1, 1, 0]
Original list : [3, 1, 6, 2, 8, 1, 0]

In [23]:
fruits=["apple","banana","cherry","kiwi","gauva"]
#sort the list and stored in itself
fruits.sort(reverse=True)
print("Sorted list: ", fruits)

Sorted list:  ['kiwi', 'gauva', 'cherry', 'banana', 'apple']

In [36]:
lst = [ 'ram' , 'shyam' , 0 , 2.3 ]
print(lst.sort()) # sort list with element of different datatypes.

TypeError: '<' not supported between instances of 'int' and 'str'


The sum() function in Python is used to compute the sum of elements in a list (or any iterable). It is straightforward to use and can handle various types of numerical data within the list

In [37]:
numbers = [1, 2, 3, 4, 5]
total = sum(numbers)
print(total)  # Output: 15

15

 The min() function in Python is used to find the smallest element in an iterable (such as a list, tuple, or set). It is straightforward to use and returns the minimum value from the provided sequence

In [26]:
numbers = [5, 2, 8, 1, 6]
min_number = min(numbers)
print(min_number)  # Output: 1

1

len()

In [40]:
numbers = [5, 2, 8, 1, 6]
print(len(numbers))

5

# List operation

List extend using "+"

In [1]:
lst1 = [1, 2, 3, 4]
lst2 = ['python' , 'programming' ]
new_lst = lst2 + lst1

print(new_lst)

['python', 'programming', 1, 2, 3, 4]

List repeatation using '*'

In [3]:
lst = [1,2,4]
lst1= lst*4
print(lst1)

[1, 2, 4, 1, 2, 4, 1, 2, 4, 1, 2, 4]

### Membership operation

Membership operations in Python allow you to check if a specific element is present in a list. This is done using the in and not in operators.

element in list: Returns True if the element is in the list, otherwise False.
    
element not in list: Returns True if the element is not in the list, otherwise False.

In [23]:
fruits = ["apple", "banana", "cherry"]
print("apple" in fruits)  
print("orange" not in fruits)

True
True

# List looping

In [25]:
numbers = [11, 22, 3, 4, 5]
for i in numbers:
    print(i)

11
22
3
4
5

In [3]:
numbers = [11, 22, 33, 4, 5]
for i in range(len(numbers)):
    print(numbers[i])

11
22
33
4
5

# List Having Multiple References

In [4]:
lst = [1, 2, 3, 4, 5]
abc = lst
abc.append(6)
lst.append('h')
#print original list
print("Original list: ", abc)

Original list:  [1, 2, 3, 4, 5, 6, 'h']

In [12]:
#if we want that their will be no change i our orignal list
lst = [1 , 2, 3 , 4 , 5 , 6 ,6]
abc = lst.copy()
lst[3] = 'h'
print(lst)
print(abc)

[1, 2, 3, 'h', 5, 6, 6]
[1, 2, 3, 4, 5, 6, 6]

# list comprehension

List comprehensions provide a concise way to create lists. 

Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence or iterable, or to create a subsequence of those elements that satisfy a certain condition.

syntax of list comprehension

[
    expression        # The value to include in the new list
    for item in iterable    # Iterating over each item in the iterable
    if condition      # (Optional) A condition to filter items
]
 --------
 
[expression for item in iterable if condition]

Using a Regular Loop:

In [13]:
squares = []
for x in range(1, 11):
    if x % 2 == 0:
        squares.append(x**2)
print(squares)

[4, 16, 36, 64, 100]

with list comprehension

In [14]:
squares = [x**2 for x in range(1, 11) if x % 2 == 0]
print(squares)

[4, 16, 36, 64, 100]

In [15]:
numbers = [1, 2, 3, 4, 5]
cubes = []
for i in numbers:
    cubes.append( i ** 3)

print(cubes)

[1, 8, 27, 64, 125]

In [6]:
numbers = [1, 2, 3, 4, 5]
cubes = [i**3 for i in numbers]
print(cubes)

[1, 8, 27, 64, 125]

In [6]:
numbers = [i for i in range(1,10)]
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
even = [i for i in range(1,11) if i % 2 != 0]
print(even)

[1, 3, 5, 7, 9]

In [20]:
squares = [i**2 for i in range(1,51)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500]

In [21]:
squares = [i**3 for i in range(1,51) if i % 2 == 0]
print(squares)

[8, 64, 216, 512, 1000, 1728, 2744, 4096, 5832, 8000, 10648, 13824, 17576, 21952, 27000, 32768, 39304, 46656, 54872, 64000, 74088, 85184, 97336, 110592, 125000]

In [22]:
num = [i for i in range(20,40) if i % 3 == 0]
print(num)

[21, 24, 27, 30, 33, 36, 39]

In [16]:
number = [1,2,3,4,5]
cubes = [i**3 for i in number]
print(cubes)

[1, 8, 27, 64, 125]

In [23]:
number = [1,2,3,4,5,0,-8,-8,-9,0,6,-5]
squares = [i**2 for i in number]
print(squares)

[1, 4, 9, 16, 25]

In [ ]:
# Create a list of numbers from 0 to 9
numbers = [x for x in range(10)]
print(numbers)

In [ ]:

numbers = [x + 5 for x in range(10)]
print(numbers)

In [ ]:
numbers = [1, 2, 3, 4, 5]
squares = [ number ** 3 for number in numbers]

print(squares_tuples)

In [ ]:
# Create a list of the lengths of each word in the list
words = ["apple", "banana", "cherry"]
lengths = [len(word) for word in words]
print(lengths)

# String Split to create a list

In [26]:
#Splitting a string into a list using a different delimiter
s = "apple banana cherry date|fig" 

# Using split() to divide the string into a list
fruit_list = s.split('|')

# Printing the resulting list
print(fruit_list)  # Output: ['apple', 'banana', 'cherry', 'date', 'fig']

['apple', 'banana', 'cherry', 'date|fig']