# Tuples

-> A tuple is similar to list

-> The diffence between the two is that we can't change the elements of tuple once it is assigned whereas in the list, elements can be changed

# Tuple creation

In [1]:
#empty tuple
t = ()

#tuple having integers
t = (1, 2, 3)
print(t)

#tuple with mixed datatypes
t = (1, 'raju', 28, 'abc')
print(t)

#nested tuple
nested_tuple = ((1, 2), (3, 4), (5, 6))
tuple_of_lists = ((1, 2, 3), ['a', 'b', 'c'], [True, False])
print(nested_tuple)
print(tuple_of_lists)

(1, 2, 3)
(1, 'raju', 28, 'abc')
((1, 2), (3, 4), (5, 6))
((1, 2, 3), ['a', 'b', 'c'], [True, False])

In [ ]:
#only parenthesis is not enough
t = ('4')
print(type(t))

<class 'str'>

In [2]:
#need a comma at the end
t = ('python',)
print(type(t))

<class 'tuple'>

In [5]:
#parenthesis is optional
t = "python","hii"
print(type(t))
print(t)

<class 'tuple'>
('python', 'hii')

In [8]:
t = (1)
type(t)

int

# Accessing Elements in Tuple

        POSITIVE INDEXING
        
   0  ,     1    ,    2   ,   3   ,   4  
   
("apple","banana","cherry","kiwi","gauva")

  -5  ,     -4   ,   -3    , -2   , -1
  
        NEGATIVE INDEXING

In [4]:
my_tuple = (1, 'j', 3, 4, 5 , 9 , 12 , 10)
print(my_tuple[0])

1

In [13]:
t = ('hi',1,3,'ji')
print(t[3])
print(type(t))

ji
<class 'tuple'>

In [14]:
#negative index
my_tuple = (1,2,3,4)
print(my_tuple[-1]) #print last element in a tuple

4

In [11]:
#nested tuple
t = ('xyz', (1, 2, 3, 4, 5))
print(t[1])

(1, 2, 3, 4, 5)

In [17]:
t = ('xyz', (1, 2, 3, 4, 5))
print(t[1][2])
print(t[1][4])

3
5

In [5]:
#Slicing
tpl = (1, 2, 3, 4, 5, 6)

print(tpl[1:4])

#print elements from starting to 2nd last elements
print(tpl[:-2:-1])

#print elements from starting to end
print(tpl[::-1])

(2, 3, 4)
(6,)
(6, 5, 4, 3, 2, 1)

# Changing a Tuple

unlike lists, tuples are immutable
This means that elements of a tuple cannot be changed once it has been assigned. But, if the element is itself a mutable datatype like list, its nested items can be changed.

In [5]:
#creating tuple
tpl = (1, 2, 3, 4, 5, 6)
tpl[2] = 'x' #will get TypeError

TypeError: 'tuple' object does not support item assignment

In [20]:
tpl = (2 ,[3, 5.2 ,"hello"] , (1 , 2,3))
tpl[1][2] = 'python'
print(tpl)

(2, [3, 5.2, 'python'], (1, 2, 3))

# Tuple Deletion

In [ ]:
#we cannot change the elements in a tuple. 
# That also means we cannot delete or remove items from a tuple.

#delete entire tuple using del keyword
my_tuple = (1, 2, 3, 4, 5)

# Deleting the tuple
del my_tuple

# Trying to access the tuple after deletion will raise an error
print(my_tuple)  # This will raise a NameError: name 'my_tuple' is not defined

NameError: name 'my_tuple' is not defined

# Tuple Count

In [21]:
t = ('xyz', (1, 2, 3, 4, 5 ,3 , 1) , 1,1)
#get the frequency of particular element appears in a tuple
t.count(1)

2

# Tuple operations

In [1]:
#membership operation

In [28]:
#test if an item exists in a tuple or not, using the keyword in.
days_of_week = ('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday')

print('Wednesday' in days_of_week)

True

In [29]:
print('sunday' not in days_of_week)

True

In [ ]:
#concatination of tuple

In [ ]:
tpl1 = (1 ,2  ,3 )
tpl2 = ("python" , "language")
tpl3 = tpl1 + tpl2
print(tpl3)

(1, 2, 3, 'python', 'language')

In [ ]:
#repeatition of tuple

In [31]:
tpl1 =  (1 , 2, 3, 4)
tpl2 = tpl1 * 3
print(tpl2)

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

# tuple methods

count

In [4]:
t = ('xyz', (1, 2, 3, 4, 5 ,3 , 1) , 1)
#get the frequency of particular element appears in a tuple
t.count(1)

1

index

In [5]:
days_of_week = ('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')
print(days_of_week.index('Wednesday')) #return index of the first element is equal to 3

#print index of the 1

2

Tuple Length

In [25]:
t = (1, 2, 3, 4, 5, 6)
print(len(t))

6

Tuple Sort

In [22]:
t = (4, 5, 1, 2, 3)

new_t = sorted(t,reverse = True)
print(new_t) #Take elements in the tuple and return a new sorted list 
             #(does not sort the tuple itself).
print(t)
a = tuple(new_t)
print(a)

[5, 4, 3, 2, 1]
(4, 5, 1, 2, 3)
(5, 4, 3, 2, 1)

In [35]:
t = (4, 5, 1, 2, 3)
t.sort()

AttributeError: 'tuple' object has no attribute 'sort'

max

In [27]:
#get the largest element in a tuple
t = (2, 5, 1, 6, 9)

print(max(t))

9

min

In [28]:
#get the smallest element in a tuple
print(min(t))

1

sum

In [29]:
#get sum of elments in the tuple
print(sum(t))

23