# Sets

-> A set is an unordered collection of items. Every element is unique (no duplicates).

-> The set itself is mutable. We can add or remove items from it.

-> Sets can be used to perform mathematical set operations like union, intersection, symmetric difference etc.

# Set Creation

Method 1: Direct Method.

In [ ]:
#set of integers
s = {1, 2, 3} # Collection of elements in {} is known as set.
print(s)

#print type of s 
print(type(s))

{1, 2, 3, 4}
<class 'set'>

In [4]:
# Set doesn't allow duplicates. They store only one instance.
s = {1, 2, 3, 1, 4}
print(s) # an element cannot be repeated

{1, 2, 3, 4}

Method 2: By using Set function.

In [2]:
#we can make set from a list
s = set([1,2,3,4]) # Inside the set function there should be a sequence of elements
print(s)
print(type(s))

{1, 2, 3, 4}
<class 'set'>

In [3]:
# Initialize an empty set  with set() method
s = set()
print(type(s))

<class 'set'>

In [14]:
# If We initialize like :
s = {} # This will be an dictionary, it is not a set.
print(type(s))

<class 'dict'>

Set Does not support indexing as they are unordered collection...

In [ ]:
s = {1, 3}

# Set object doesn't support indexing as it does not have ordered collection of data. 
print(s[0]) # will get TypeError

TypeError: 'set' object is not subscriptable

# Add element to a Set

In [ ]:
# We can add single element using add() method and 
# Add multiple elements using update() method

Method 1 : add()

In [10]:
# To add a single element into set we use add() 
s = {1,2}
s.add(3)

print(s)

{1, 2, 3}

Method 2: update()

In [1]:
# To add multiple elements into the set then we use update() function.
s = {1,2,3}
s.update([5, 6, 1]) # The argument of update function should be a sequence.
print(s)

{1, 2, 3, 5, 6}

In [13]:
# Add list and set
s = {0,1,2,3,4,5,6,False,4,5,6.7,0}
s.update([8,(3,5,6), 9], {10, 2, 3}, (90, 67, 56),"hi","jius@odsuh")
print(s)

{0, 1, 2, 3, 4, 5, 6, 6.7, 8, (3, 5, 6), 9, 10, 'd', 'o', 's', 'h', 56, '@', 67, 'i', 90, 'u', 'j'}

# Remove elements from a Set

Method 1: remove()

In [1]:
#A particular item can be removed from set using methods, 
#discard() and remove().

s = {1, 2, 3, 5, 4}
print(s)
s.remove(4)    #4 is removed from set s
print(s)

{1, 2, 3, 4, 5}
{1, 2, 3, 5}

If we again remove element 4 from set, it will return Error.

In [2]:
s.remove(4) # This will give an error.
print(s)

KeyError: 4

Method 2: discard()    
So, Instead to use remove function we first consider discard function for deletion operation in set.

In [3]:
#remove an element 
s = {1, 2, 3, 5, 4}
print(s)
s.discard(2)
print(s)

{1, 2, 3, 4, 5}
{1, 3, 4, 5}

In [5]:
print(s)
s.discard(2) # This will not return error.
print(s)

{1, 3, 4, 5}
{1, 3, 4, 5}

Method 3: pop() -> This function will delete any random element from the given set and also return that deleted element.

In [15]:
#we can remove item using pop() method
s = {2, 3, 5, 4}
print(s)

a = s.pop() #remove random element
print(a)
print(s)

{2, 3, 4, 5}
2
{3, 4, 5}

In [11]:
a = s.pop() # It delete the element from the set and  store it in an variable.
print(s) 
print(a)

{3, 4, 5}
2

Method 4: clear() -> This remove all the elements from the set.

In [12]:
s = {1, 5, 2, 3, 6}
print(s)

s.clear()   #remove all items in set.
print(s)

{1, 2, 3, 5, 6}
set()

del -> It is a keyword which is used to del whole set.

In [13]:
st = {3,4,5,6,7}
del st # This will delete whole set from the memory.
print(st) # This will return error because st is not defined, it is deleted by above line of code.

NameError: name 'st' is not defined

# Python Set Operations

-> Operator to find union of two given sets.   ( | )

In [22]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

# union of 2 sets using | operator
a = set1 | set2
print(a) # combine all the elements of both the sets but will not repeat the elememts

{1, 2, 3, 4, 5, 6, 7}

-> Method used to find union of two sets - union()

In [21]:
# Another way of getting union of two sets by using -> union()
a = set1.union(set2)
print(a)
print(set1)
print(set2)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5}
{3, 4, 5, 6, 7}

-> Operator to find intersection of two given sets.   ( & )

In [21]:
#intersection of 2 sets using & operator
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}
print(set1 & set2) # It will print the common elements of both the sets.

{3, 4, 5}

-> Method used to find intersection of two sets - intersection()

In [ ]:
# Use intersection function 
print(set1.intersection(set2))

{3, 4, 5}

TO find the difference to two set using '-' operator.

In [2]:
# Set Difference: It gives a set of elements that are only in set1 but not in set2
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}
print(set2 - set1) # 1,2 are present in set1 but not in set2

{6, 7}

-> using difference() method

In [24]:
#use differnce function 
print(set1.difference(set2))

{1, 2}

In [25]:
"""symmetric difference: set of elements in both set1 and set2 
#except those that are common in both."""

#use ^ operator
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}
print(set1^set2) # 3,4,5 is present in both set means which are common in both set, So symmetric differnce will remove thses elements in the resultant set.

{1, 2, 6, 7}

In [26]:
#use symmetric_difference function
print(set1.symmetric_difference(set2))

{1, 2, 6, 7}

issubset()

In [26]:
#find issubset()
x = {"a","b","c","d","e"}
y = {"c","d"}
# Check x is subset of y -> check(all the elements of set x belongs to set y)
print("set 'x' is subset of 'y' ?", x.issubset(y)) 

# Check y is subset of x -> check(all the elements of set y belongs to set x)
print("set 'y' is subset of 'x' ?", y.issubset(x))

set 'x' is subset of 'y' ? False
set 'y' is subset of 'x' ? True

In [27]:
x.issuperset(y)

True

# Frozen Sets

Frozen sets has the characteristics of sets, but we can't be changed once it's assigned. While tuple are immutable lists, frozen sets are immutable sets

Frozensets can be created using the function frozenset()

Sets being mutable are unhashable, so they can't be used as dictionary keys. On the other hand, frozensets are hashable and can be used as keys to a dictionary.

This datatype supports methods like copy(), difference(), intersection(), isdisjoint(), issubset(), issuperset(), symmetric_difference() and union(). Being immutable it does not have method that add or remove elements.

In [3]:
set1 = frozenset((1, 2, 3, 4))
set2 = frozenset([3, 4, 5, 6])
#try to add element into set1 gives an error
# set1.add(5)
print(set1)

frozenset({1, 2, 3, 4})

In [4]:
print(set1[1]) # frozen set doesn't support indexing

TypeError: 'frozenset' object is not subscriptable

In [ ]:
set1 = frozenset((1, 2, 3, 4))
set2 = frozenset([3, 4, 5, 6])
print(set1 | set2) #union of 2 sets

frozenset({1, 2, 3, 4, 34})

In [7]:
#intersection of two sets
print(set1 & set2)

#or 
print(set1.intersection(set2))

frozenset({3, 4})
frozenset({3, 4})

In [8]:
#symmetric difference
print(set1 ^ set2)

#or
print(set1.symmetric_difference(set2))

frozenset({1, 2, 5, 6, 7})
frozenset({1, 2, 5, 6, 7})

In [31]:
s = {3,4,5,6}
print(type(s))

<class 'set'>

In [35]:
t = tuple(s)
# print(t)
print(type(t))

<class 'tuple'>