# Variables _ Data Types _ Input/Output

### Variables:
 - Python Variable is containers that store values.  
 - Python is "dynamically typed" language.   
 - The value stored in a variable can be changed during program execution.    
 - A Variables in Python is only a name given to a memory location, all the operations done on the variable effects that memory location.

In [5]:
a = 2 # 'a' is a variable and "RICR" is a value of that variable
print(a)
print(type(a))

2
<class 'int'>

In [5]:
# Variable Assignment / declaration / Initialization:

# An integer variable
ID = 67

# A floating point variable
fees = 1308.08

# A string variable
name = "RICR"

67

In [6]:
# Redeclaring variables
ID = 98

In [10]:
# Assigning single value to multiple variables:
a = b = c = d = 500
print(d)

500

In [15]:
# Assigning different values to multiple variables:
var1, var2, var3 = "RICR", 90, 78.98

78.98
98

# Storage Locations

In [16]:
x = 34
             #print address of variable x

140726303792600

In [17]:
y = 34
               #print address of variable y

140726303792600

Observation:

x and y points to same memory location

In [18]:
y = 22  # if the value gets changed then address also gets changed.

140726303792216

# Data Types

Every value in Python has a datatype. Since everything is an object in Python programming, data types are actually classes and variables are instance (object) of these classes.

# Numbers

 - Integers, floating point numbers and complex numbers falls under Python numbers category. They are defined as int, float and complex class in Python.

1. type() -> We can use the type() function to know which class a variable or a value belongs to.
2. isinstance() -> this function id to check if an object belongs to a particular class.

In [4]:
a = 5j #data type is implicitly set to integer

In [5]:
a = 2.5   #data type is changed to float

In [27]:
a = 1  #data type is changed to complex number

# print(isinstance(a, int))

True

# Boolean

 Boolean represents the truth values False and True

In [6]:
a = True #a is a boolean type

# Python Strings

A string is a sequence of Unicode characters.

Strings can be enclosed in either single quotes (') or double quotes (").

To represent multi-line strings, triple quotes (''' or """) can be used.

In Python, a string is a sequence of characters, including letters, numbers, and special symbols.

Strings can be indexed, which is also referred to as subscripted.

Like in C, the first character of a string has an index of 0.

In [33]:
s = 'This is Offline AI course'

This is Online AI course
<class 'str'>

In [1]:
# Indexing
             # first character
             # last character

In [2]:
#slicing

# Python List

- List is an ordered sequence of items.    
- It is one of the most used datatype in Python and is very flexible.    
- All the items in a list do not need to be of the same type.     
- Declaring a list is , Items separated by commas are enclosed within brackets [ ].

In [27]:
a = [10, 20.5, "Hello"]
# print(a)

In [26]:
# list indexing
                              # print 1st index element
                              # print last element

Lists are mutable, meaning, value of elements of a list can be altered.

In [ ]:
# list are mutable, example

# Python Tuple

 - Tuple is an ordered sequence of items same as list.    
 - The only difference is that tuples are immutable.      
 - Tuples once created cannot be modified.

In [23]:
t = (1, 1.5, "ML")
# print(t)

(1, 1.5, 'ML')

In [24]:
# tuple indexing

In [25]:
# tuples are imutable

# Python Set

- Set is an unordered collection of unique items.(No indexing)  
- Set is defined by values separated by comma inside braces { }.     
- does not holds duplicate values.
- Set is mutable, it can be updated.

In [37]:
a = {10, 30, 20, 40, 5, 10, 20, 30}
# print(a)        # Remove duplicates.

In [38]:
                 # print type of a

We can perform set operations like union, intersection on two sets. Set have unique values.

In [40]:
s1 = {10, 20, 20, 30, 30, 30}
s2 = {40, 40, 50, 60, 70, 60, 50}

In [39]:
# We can't print particular element in set because
# It's unorder collections of items

# Python Dictionary

Dictionary is an unordered collection of key-value pairs.

- In Python, dictionaries are defined within braces {} with each item being a pair in the form key:value.    
- Key and value can be of any type.

In [41]:
d = {'a': "apple", 'b': "bat"}
# print(d)

In [42]:
# Accessing values from dictionary

# Conversion between Datatypes

We can convert between different data types by using different type conversion functions like int(), float(), str() etc.

In [46]:
        #convert interger to float using float() method

5.0

In [45]:
b = int(130.87)   #convert float to integer using int() method

120

In [47]:
       #convert integer to string

20

Conversion to and from string must contain compatible values.

In [50]:
# print(int('10p'))

In [44]:
# Use case example:

user = "RICR"
lines = 32

print("Congratulations, " + user + "! You just completed " + str(lines) + " MOUs" )
#remove str and gives error

Congratulations, RICR! You just completed 32 MOUs

We can convert one sequence to other

In [52]:


               #convert list to set using set() method

In [51]:
               #convert String to list using list() method

## Python Input / Output

### Python Output

We use the print() function to output data to the standard output device

In [ ]:
print("Hello!, RICR")

Hello World

In [ ]:
# Using variable inside print()

a = 10
print("The value of a is", a)

('The value of a is', 10)
The value of a is 10

In [53]:
a = "I"
b = 100
c = "python"
print("Hello!,",a,"am",b,"And we are learning",c)

Hello!, I am 100 And we are learning python

# Output Formatting
- format()

In [ ]:
a = 10; b = 20    # multiple statements in single line 
print("The value of a is {} and b is {}".format(a, b))    # default

The value of a is 10 and b is 20

In [ ]:
a = 10; b = 20  
print("The value of b is {1} and a is {0}".format(a, b)) # specify position of arguments

The value of b is 20 and a is 10

In [60]:
# We can use keyword arguments to format the string
print("Hello {name}, {greeting}".format(name="RICR", greeting="Good Morning"))

Hello RICR, Good Morning

In [59]:
# We can combine positional arguments with keyword arguments
print('The story of {0}, {1}, and {other}'.format('RAM', 'BHEEM', other='RAVAN'))

The story of RAM, BHEEM, and RAVAN

### Using f-string.

In [62]:
name = 'Python'
age = 33
print(f"Hello, My name is {name} and I'm {age} years old.")

Hello, My name is Python and I'm 33 years old.

### Using % Operator
 - %d –integer
 - %f – float
 - %s – string

In [63]:
num1 = 2
num2 = 8.98
num3 = "Hii"
print("The number is %d" %num1)     # %d
                                    # %f
                                    # %s

The number is 5

### print() -> parameters: sep= , end=

In [54]:
# sep=
print('09', '12', '2016', sep='-')

09-12-2016

In [58]:
# end=
print("Python ", end='#')
print("RICR")

Python #RICR

# Python Input

want to take the input from the user. In Python, we have the input() function to allow this.

In [66]:
a = input("Enter a number: ") # by default str input
# print(a)
# print(type(a))

In [67]:
b = int(input())   # Changed type to int as to take integer as a input

In [70]:
# Can use eval function for direct input of list, set, tuple, dict

c = eval(input())
# print(type(c))