In [1]:
import pandas as pd

In [ ]:
df = pd.read_csv("Housing.csv")

In [3]:
df.sample(3)

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
216,4830000,6040,3,1,1,yes,no,no,no,no,2,yes,semi-furnished
406,3465000,5320,2,1,1,yes,no,no,no,no,1,yes,unfurnished
200,4900000,4520,3,1,2,yes,no,yes,no,yes,0,no,semi-furnished

In [ ]:
# Q1
df.groupby('bedrooms')['price'].mean().sort_values(ascending=False)

bedrooms
5    5.819800e+06
4    5.729758e+06
3    4.954598e+06
6    4.791500e+06
2    3.632022e+06
1    2.712500e+06
Name: price, dtype: float64

In [22]:
# Q2. 
df.groupby('stories')['area'].sum().sort_values(ascending=False).head(2)

stories
1    1200790
2    1132153
Name: area, dtype: int64

In [31]:
#Q3. 
print(df.groupby('hotwaterheating')['price'].max())
print(df[df['price'] == (df.groupby('hotwaterheating')['price'].max()[0])])
print(df[df['price'] == (df.groupby('hotwaterheating')['price'].max()[1])])

hotwaterheating
no     13300000
yes     9681000
Name: price, dtype: int64
      price  area  bedrooms  bathrooms  stories mainroad guestroom basement  \
0  13300000  7420         4          2        3      yes        no       no

  hotwaterheating airconditioning  parking prefarea furnishingstatus  \
0              no             yes        2      yes        furnished

   PricePerSqFt
0    1792.45283
      price  area  bedrooms  bathrooms  stories mainroad guestroom basement  \
11  9681000  6000         4          3        2      yes       yes      yes

   hotwaterheating airconditioning  parking prefarea furnishingstatus  \
11             yes              no        2       no   semi-furnished

    PricePerSqFt
11        1613.5

C:\Users\hp\AppData\Local\Temp\ipykernel_16724\623311814.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(df[df['price'] == (df.groupby('hotwaterheating')['price'].max()[0])])
C:\Users\hp\AppData\Local\Temp\ipykernel_16724\623311814.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(df[df['price'] == (df.groupby('hotwaterheating')['price'].max()[1])])

In [ ]:
# Q4. 
df['PricePerSqFt'] = df['price'] / df['area']
df.groupby('stories')['PricePerSqFt'].mean()

stories
1     850.473821
2    1080.066043
3    1154.987392
4    1126.961447
Name: PricePerSqFt, dtype: float64

In [36]:
#Q5. 
df.groupby('parking').size().sort_values()

parking
3     12
2    108
1    126
0    299
dtype: int64

In [41]:
# Q6. 
df.groupby('bathrooms')['area'].agg(['min','max','mean'])

            min    max         mean
bathrooms
1          1650  15600  4920.892768
2          1950  12090  5699.526316
3          2610  16200  6677.000000
4          8960   8960  8960.000000