## Types of Unclean Data

`Dirty Data (Data with Quality issues)`: Dirty data, also known as low quality data.

- Duplicated data
- Missing Data
- Corrupt Data
- Inaccurate Data


`Messy Data (Data with tidiness issues)`: Messy data, also known as untidy data.

- Each variable forms a column
- Each observation forms a row
- Each observational unit forms a table

## Types of problems in data:

1. Completeness -> is data missing?
2. Validity -> is data invalid?
3. Accuracy -> data is valid but not accurate.
4. Consistency -> Written Mistakes or short forms used.

Also, we have to deal with these problems into this above given same order.

Note: These types comes under dirty data / Quality data. In between these problems you have to solve tidiness data mistakes also.

## Cleaning process iteratively:

1. Define the problem with specified solution.
2. Solve the problem using code.
3. Evaluating the solution by testing.

In [1]:
import pandas as pd

In [31]:
df = pd.read_csv('Datasets/Uncleaned Restaurant Menu Data.csv')

In [32]:
df.head(3)

,id,name,sponsor,event,venue,place,physical_description,occasion,notes,call_number,keywords,language,date,location,location_type,currency,currency_symbol,status,page_count,dish_count
0,12463,NaN,HOTEL EASTMAN,BREAKFAST,COMMERCIAL,"HOT SPRINGS, AR",CARD; 4.75X7.5;,EASTER;,NaN,1900-2822,NaN,NaN,4/15/1900,Hotel Eastman,NaN,NaN,NaN,complete,2,67
1,12464,NaN,REPUBLICAN HOUSE,[DINNER],COMMERCIAL,"MILWAUKEE, [WI];",CARD; ILLUS; COL; 7.0X9.0;,EASTER;,WEDGEWOOD BLUE CARD; WHITE EMBOSSED GREEK KEY ...,1900-2825,NaN,NaN,4/15/1900,Republican House,NaN,NaN,NaN,complete,2,34
2,12465,NaN,NORDDEUTSCHER LLOYD BREMEN,FRUHSTUCK/BREAKFAST;,COMMERCIAL,DAMPFER KAISER WILHELM DER GROSSE;,CARD; ILLU; COL; 5.5X8.0;,NaN,"MENU IN GERMAN AND ENGLISH; ILLUS, STEAMSHIP A...",1900-2827,NaN,NaN,4/16/1900,Norddeutscher Lloyd Bremen,NaN,NaN,NaN,complete,2,84

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17545 entries, 0 to 17544
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    17545 non-null  int64
 1   name                  3197 non-null   object
 2   sponsor               15984 non-null  object
 3   event                 8154 non-null   object
 4   venue                 8119 non-null   object
 5   place                 8123 non-null   object
 6   physical_description  14763 non-null  object
 7   occasion              3791 non-null   object
 8   notes                 10613 non-null  object
 9   call_number           15983 non-null  object
 10  keywords              0 non-null      float64
 11  language              0 non-null      float64
 12  date                  16959 non-null  object
 13  location              17545 non-null  object
 14  location_type         0 non-null      float64
 15  currency              6456 non-null   object
 16  currency_symbol       6456 non-null   object
 17  status                17545 non-null  object
 18  page_count            17545 non-null  int64
 19  dish_count            17545 non-null  int64
dtypes: float64(3), int64(3), object(14)
memory usage: 2.7+ MB

In [36]:
df.isnull().sum()

id                          0
name                    14348
sponsor                  1561
event                    9391
venue                    9426
place                    9422
physical_description     2782
occasion                13754
notes                    6932
call_number              1562
keywords                17545
language                17545
date                      586
location                    0
location_type           17545
currency                11089
currency_symbol         11089
status                      0
page_count                  0
dish_count                  0
dtype: int64