## Types of Unclean Data

`Dirty Data (Data with Quality issues)`: Dirty data, also known as low quality data.

- Duplicated data
- Missing Data
- Corrupt Data
- Inaccurate Data


`Messy Data (Data with tidiness issues)`: Messy data, also known as untidy data.

- Each variable forms a column
- Each observation forms a row
- Each observational unit forms a table

## Types of problems in data:

1. Completeness -> is data missing?
2. Validity -> is data invalid?
3. Accuracy -> data is valid but not accurate.
4. Consistency -> Written Mistakes or short forms used.

Also, we have to deal with these problems into this above given same order.

Note: These types comes under dirty data / Quality data. In between these problems you have to solve tidiness data mistakes also.

## Cleaning process iteratively:

1. Define the problem with specified solution.
2. Solve the problem using code.
3. Evaluating the solution by testing.

In [15]:
import pandas as pd

ModuleNotFoundError: No module named 'openpyxl'

In [17]:
df = pd.read_csv('Datasets/uncleaned bike sales data.csv')

In [21]:
df.sample(3)

,Sales_Order #,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product_Description,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
35,261729,12/11/2021,11.0,December,2021,38,Adults (35-64),F,United States,California,Bikes,Mountain Bikes,"Mountain-200 Silver, 38",1.0,"$1,266.00","$2,320.00","$1,054.00","$1,266.00","$2,320.00"
82,261776,12/22/2021,22.0,December,2021,25,Young Adults (25-34),M,France,Seine (Paris),Bikes,Mountain Bikes,"Mountain-200 Black, 38",1.0,"$1,252.00","$2,295.00","$1,043.00","$1,252.00","$2,295.00"
57,261751,12/18/2021,18.0,December,2021,24,Youth (<25),F,France,Seine Saint Denis,Bikes,Mountain Bikes,"Mountain-200 Silver, 38",3.0,"$1,266.00","$2,320.00","$3,162.00","$3,798.00","$6,960.00"

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Sales_Order #        89 non-null     int64
 1   Date                 89 non-null     object
 2   Day                  88 non-null     float64
 3   Month                89 non-null     object
 4   Year                 89 non-null     int64
 5   Customer_Age         89 non-null     int64
 6   Age_Group            88 non-null     object
 7   Customer_Gender      89 non-null     object
 8   Country              89 non-null     object
 9   State                89 non-null     object
 10  Product_Category     89 non-null     object
 11  Sub_Category         89 non-null     object
 12  Product_Description  88 non-null     object
 13  Order_Quantity       88 non-null     float64
 14   Unit_Cost           89 non-null     object
 15   Unit_Price          89 non-null     object
 16   Profit              89 non-null     object
 17   Cost                89 non-null     object
 18  Revenue              89 non-null     object
dtypes: float64(2), int64(3), object(14)
memory usage: 13.3+ KB

In [20]:
df.isnull().sum()

Sales_Order #          0
Date                   0
Day                    1
Month                  0
Year                   0
Customer_Age           0
Age_Group              1
Customer_Gender        0
Country                0
State                  0
Product_Category       0
Sub_Category           0
Product_Description    1
Order_Quantity         1
 Unit_Cost             0
 Unit_Price            0
 Profit                0
 Cost                  0
Revenue                0
dtype: int64